page-login {
	
	.login-inputs{
	  font-size:100% !important;
	}
	
	.login-logo{
		margin-top: 100px;
		color: #fff;
	}
	
	.login-tagline{
		margin-bottom: 40px; 
	}
	.button{
		color: color($colors, dark);
	}
}
